.app {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Barra_sup {
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 30px;
  height: auto;
  width: auto;
  justify-content: space-between;
  margin: 5px;
}
.container-pri {
  border: white 5px solid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
 
}
.cards-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
}

.Start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 450px;
}

.card {
  display: inline-block;
  margin: 5px;
  height: calc(170px - 10px);
  width: calc(210px - 10px);
}

.btn {
  background-color: rgb(180, 180, 255); /* Color morado en reposo */
  color: #ffffff; /* Color de texto blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 10px; /* Redondear los bordes */
  cursor: pointer;
  transition: background-color 0.3s ease; 
}


.btn:hover {
  animation: color-change 2s infinite; /* Animación de cambio de color constante */
}

@keyframes color-change {
  0% {
    background-color: rgb(150, 150, 255); /* Color morado más claro */
  }
  50% {
    background-color: rgb(200, 200, 255); /* Otro color morado */
  }
  100% {
    background-color: rgb(150, 150, 255); /* Volver al color morado más claro */
  }
}
.conter {
  display: flex;
  justify-content: space-between;
}

.card:hover {
  transform: scale(0.98);
}

.card-image {
  height: calc(170px - 10px);
  width: calc(210px - 10px);
}

.Direction {
  clip-path: circle(38.2% at 50% 50%);
  max-width: 180px;
  max-height: 180px;
}

h1 {
  margin: 0px;
}

.btn_start {
  display: flex;
  justify-content: center;
  align-items: center;
  background:transparent;
  border: none;
  font-size: 50px;
  height: auto;
  color: rgb(36, 35, 63);
}


.btn_start:hover {
  animation: color-change 2s infinite; /* Animación de cambio de color constante */
  font-size: 60px;
  font-weight: bolder;
}

@keyframes color-change {
  0% {
    color: rgb(36, 35, 63); /* Primer color */
  }
  50% {
    color: rgb(128, 138, 189); /* Segundo color */
  }
  100% {
    color: rgb(46, 53, 88); /* Volver al primer color */
  }
}

#audiog {
  border: 1px solid black;
  width: 100%;
  background: false;
  autoplay: "true";
  loop: "true";
}

.Derecha {
  justify-content: left;
}

@media screen and (max-width: 1250px) {
  .Izquierda {
    width: 100%;
  }

  .Derecha {
    width: 100%;
  }

  .Juego {
    width: 100%;
    justify-content: space-between;
    flex-flow: row;
  }
  .Game {
    justify-content: space-between;
    width: 30%;
  }

  .card-image {
    height: calc(150px - 10px);
    width: calc(190px - 10px);
  }

  .card {
    display: inline-block;
    margin: 5px;
    height: calc(150px - 10px);
    width: calc(190px - 10px);
  }


}
