.app {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
}

.Barra_sup {
  display: flex;
  background: grean;
  color: White;
  font-size: 30px;
  height: 100%;
  width: 100%;
}

.cards-container {
  border: white 5px solid;
  max-width: 880px;
  max-height: 520px;
}

.card {
  display: inline-block;
  margin: 5px;
  height: calc(170px - 10px);
  width: calc(210px - 10px);
}

.btn {
  font-size: 25px;
  font-weight: bolder;
  height: 35px;
  margin-right: 10px;
}

.btn:hover {
  background: black;
  color: white;
}
.conter {
  display: flex;
  justify-content: space-between;
}

.card:hover {
  transform: scale(0.98);
}

.card-image {
  height: calc(170px - 10px);
  width: calc(210px - 10px);
}

.menu {
  background: grean;
  color: White;
  font-size: 30px;
  height: 50px;
  width: 50px;
}

.Juego {
  border: white 10px solid;
  padding: 10px;
  min-width: 300px;
  min-height: 500px;
}

.Direction {
  clip-path: circle(38.2% at 50% 50%);
  max-width: 180px;
  max-height: 180px;
}

h1 {
  margin: 0px;
}

.Start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 880px;
  height: 500px;
  border: white 5px solid;
  max-width: 880px;
  max-height: 520px;
}

.btn_start {
  font-size: 70px;
  font-weight: bolder;
  height: 80px;
}

.btn_start:hover {
  font-size: 65px;
  color: green;
  font-weight: bolder;
  height: 75px;
}

#audiog {
  border: 1px solid black;
  width: 100%;
  background: false;
  autoplay: "true";
  loop: "true";
}

.Derecha {
  justify-content: left;
}

@media screen and (max-width: 1250px) {
  .Izquierda {
    width: 100%;
  }

  .Derecha {
    width: 100%;
  }

  .Juego {
    width: 100%;
    justify-content: space-between;
    flex-flow: row;
  }
  .Game {
    justify-content: space-between;
    width: 30%;
  }

  .card-image {
    height: calc(150px - 10px);
    width: calc(190px - 10px);
  }

  .card {
    display: inline-block;
    margin: 5px;
    height: calc(150px - 10px);
    width: calc(190px - 10px);
  }

  .Start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: white 5px solid;
  }
}
